@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

body{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.App {
  height: 5vh;
  display: grid;
  justify-content: auto ;
  align-items: auto ;
  text-align: auto ;
  
}

.register{
  max-width: 875px;
  width: 100vw;
  display:flex;
  border: 1px solid #034d3a;
  border-radius: 101px;
  box-shadow: 10px 3px 10px #e9efec; 
  background-color: white;
}

.register span{
  color: #adb5bd;
}

#form{
  max-width: 300px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
}
#form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1.5em;
}

.flex-col{
  flex-direction: column;
  gap: 0.2em;
 font-family: Algerian;
 color:red;
}

.register .col-1{
  margin: auto;
  padding: 1em ;
}

.register .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: flex;
  align-self: flex-end;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  display: flex;
}
.div .h2{
  align-self: left;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}

